/* Optional: Define styles for the collapsed sidebar */
#sidebar {
    transition: width 0.3s ease;
  }
  
  #sidebar.col-md-1 .nav-link {
    text-align: center;
  }
  
  #sidebar .nav-link {
    white-space: nowrap; /* Ensure text doesn't wrap */
  }
  